#!/bin/sh

setxkbmap -option caps:escape
xrdb -merge ~/.Xresources

command -v xwallpaper >/dev/null 2>&1 && xwallpaper --zoom /home/asc/img/floyd/floydsource.png &
command -v unclutter >/dev/null 2>&1 && unclutter & 
command -v redshift >/dev/null 2>&1 && redshift -l -33.3135911:26.5163135 & 

